{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ club.name }}
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <h2> {{ club.name }} </h2>
        <p> Province: {{ club.province }} </p>
        <p> Address: {{ club.address}} </p>
        <p> Contact: {{ club.contact}} </p>
    </div>

    <div class="row">
        <h2> MEMBER </h2>
        {% for member in club.members %}
            <p>{{ member.name }} ({{ member.rank }})</p>
        {% endfor %}
    </div>
</div>
{% endblock %}