{% extends 'bootstrap/base.html' %}

{% block title %}
CLUBS
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>The Vietnam Go Portal</h1> 
      </div>
    <div class="row">
        <div class="col">
            <div id="map" style="width: 100%; height: 700px;" datasource="{{datasource}}"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<script src="{{url_for('.static', filename='js/map.js')}}"></script>
{{super()}}
{% endblock %}