{% extends '_master.html' %}

{% block styles %}
{{super()}}
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block content %}
{{super()}}
<div class="row">
    <div class="col-sm-9">
        <div id="map" style="width: 100%; height: 800px;" datasource="{{datasource}}"></div>
    </div>
    <div class="col-sm-3" style="margin-top: 50px;">
        <div style="padding-right: 20px;">
            <h2>Go Club List</h2>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <ul class="list-group" id="myList">
                {% for club in clubs %}
                <li class="list-group-item">
                    <!-- <a href="/club/{{club.id}}"  -->
                    <a onclick="flyToSymbol('{{club.lng}}','{{club.lat}}')"> 
                        {{club.name}} 
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('.static', filename='js/map.js')}}"></script>
<script src="{{url_for('.static', filename='js/clubs.js')}}"></script>
{{super()}}
{% endblock %}