<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <h1>The Vietname Cafe</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
        </p>
    </div>

    <div class="container-fluid">
        <div class="row marketing">
            <div class="col">
                
            </div>

            <div class="col-10">
                <!-- Ranking Table -->
                <div class="row">

                </div>

                <!-- List Player -->
                <div>
                    
                </div>
            </div>

            <div class="col">
              
            </div>
        </div>

    </div>
</body>

</html>